{
  "entrant-id": "{{ review.user.id }}"
, "entrant-name": "{{ review.user.login }}"
, "entrant-display": "{{ review.user.login }}"
, "entry": "{{ review._links.html.href }}"
, "time": "{{ review.submitted_at }}"
}
