{
  "entrant-id": "{{ data.id }}"
, "entrant-name": "{{ data.merges.FNAME }} {{ data.merges.LNAME }}"
, "entrant-display": "{{ data.email }}"
, "entry": "subscribed to list {{ data.list_id }}"
, "time": "{{ fired_at }}"
}
